.flex{
    display: flex;
}

.justify-content{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-grey{
    background-color: rgb(21, 21, 21);
}

.bottom{
    height: 70px;
    background-color: rgb(54, 54, 54);
    bottom: 0;
    position: sticky;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#myprogressbar{
    width: 80vw;
}
.bottomplay{
    filter: invert(1);
    width: 25px;
    padding: 6px;
}
.bottomplay12{
    filter: invert(1);
    width: 30px;
    padding: 6px;
}

.firstbox{
    width: 180px;
    margin: 20px;
    padding: 24px;
    background-color: #2b2b2b;
    border-radius: 10px;
    font-size: 12px;
}

.secondbox{
    width: 150px;
    font-size: 14px;
    margin: 20px;
    padding: 36px;
    background-color: #2b2b2b;
    border-radius: 10px;
}

.leftbody{
    background-color: #151414;
    height: 210px;
    overflow-y: scroll;
    scrollbar-width: 4px;
    padding: 10px;
    margin-left: -60px;
    margin-top: 80px;
    width:23vw ;
}
.firstbox > button{
    padding: 4px;
    border-radius: 10px;
}
.secondbox > button{
    padding: 4px;
    border-radius: 10px;
}
.rightfooter{
    height: 500px;
    background-color: #131313;
}